{% extends "food/base.html" %}
{% load static %}

{% block title %}
FoodBox
{% endblock %}

{% block body %}

<button onclick="getLocation()">Try It</button>

<p id="alert"></p>
<p id="address"></p>

<script type="text/javascript">
  var x = document.getElementById("alert");
  var lat;
  var long;
  var address;

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    var lat = position.coords.latitude;
    var long = position.coords.longitude;
    console.log(lat + ", " + long);
    var url = "http://nominatim.openstreetmap.org/reverse?format=json&lat="+lat+"&lon="+long+"&zoom=18&addressdetails=1";
    $.getJSON(url, function(data) {
      console.log(data);
      document.getElementById("address").innerHTML = data.display_name;
    });
  }

  function showError(error) {
    switch(error.code) {
      case error.PERMISSION_DENIED:
        x.innerHTML = "User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        x.innerHTML = "Location information is unavailable."
        break;
      case error.TIMEOUT:
        x.innerHTML = "The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        x.innerHTML = "An unknown error occurred."
        break;
    }
  }
</script>
{% endblock %}
