{% extends "food/base.html" %}
{% load static %}

{% block title %}
FoodBox
{% endblock %}

{% block body %}
<div class="row mt-4 pt-2">
  <div class="col-12 px-3">
    <div class="card-columns">
      {% for cuisine in cuisines %}
        <div onclick="window.location.href = '{% url 'cuisine' cuisine %}'" class="card cui_card bg-dark text-white border-0 animate__animated animate__fadeIn">
          <img class="card-img" id="cuisines" src="{% with 'food/'|add:cuisine.name|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}" alt="{{ cuisine.name }}">
          <div class="card-img-overlay">
            <h1 class="card-title">{{ cuisine.name }}</h1>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
