<div class="container-fluid bg-dark pt-5 pb-2 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <h5 id="logo" class="text-white">CONTACT US</h5>
        <p class="text-light mt-3" id="f1">foodbox@gmail.com</p>
        <p class="text-light mt-n2" id="f1">+91 96344 47438</p>
      </div>
      <div class="d-none d-lg-block col-3">
        <h5 id="logo" class="text-white">EXAMPLE 2</h5>
        <p class="text-light mt-3" id="f1">The email next to this actually doesn't exist but ok.</p>
      </div>
      <div class="d-none d-lg-block col-lg-3">
        <h5 id="logo" class="text-white">EXAMPLE 3</h5>
        <p class="text-light mt-3" id="f1">I am running out of things to say.</p>
      </div>
      <div class="d-none d-lg-block col-lg-3">
        <h5 id="logo" class="text-white">ABOUT US</h5>
        <p class="text-light mt-3" id="f1">FoodBox Website for ordering things. I have to fix this. This is just an example. I hope I don't forget to fix this.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <p class="text-white" id="logo">FOODBOX</p>
        <small>
        <p class="text-light mt-n2" id="f1">FoodBox Website for ordering things. I have to fix this. This is just an example. I hope I don't forget to fix this.</p>
        </small>
      </div>
    </div>
  </div>
</div>
