{% extends "food/base.html" %}
{% load static %}

{% block title %}
FoodBox
{% endblock %}

{% block body %}
<h3 class="my-3" id="f1">Restaurants</h3>
<div class="row">
  <div class="d-none d-lg-block col-2">
    <div class="card" id="filter">
      <div class="card-body">
        <h5 class="card-title font-weight-bold" id="logo">Filters</h5>
        <p class="card-text font-weight-bold" id="f1">Cuisines</p>
        <div class="mt-n2" id="f1">
          {% for cui in cuisine %}
            <small><p class="my-0"><a href="/cuisine/{{ cui.name }}">{{ cui.name|title }}</a></p></small>
          {% endfor %}
        </div>
        <!--
        <p class="card-text font-weight-bold mt-3" id="f1">Location</p>
        <div class="mt-n2" id="f1">
          <small><p class="my-0">The Mall Road</p></small>
          <small><p class="my-0">Landour</p></small>
          <small><p class="my-0">Kempty Fall Road</p></small>
        </div>
        -->
        <p class="card-text font-weight-bold mt-3" id="f1">Price Range</p>
        <div class="mt-n2" id="f1">
          <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
        </div>
      </div>
    </div>

  </div>
  <div class="col-12 col-lg-10 px-3">
    {% for res in restaurants %}
    <div class="card flex-row flex-wrap flex-md-nowrap mb-4 animate__animated animate__fadeIn">
        <div class="card-header border-0 p-0">
            <img class="imageSize" src="{% with 'food/'|add:res.name|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}" alt="{{ res.name }}">
        </div>
        <div class="card-body p-4 p-md-5 ">
            <h4 class="card-title font-weight-bold" id="logo">{{ res.name }}</h4>
            <p class="card-subtitle " id="f1">{% for cui in res.cuisine.all %}{{ cui.name }} {% endfor %}</p>
            <p class="card-text">{{ res.description }}</p>
            <a href="{% url 'restaurant' res.id %}" class="btn btn-outline-success">Order Now</a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
<nav class="d-block d-lg-none navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" id="logo">Filter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#res_filter" aria-controls="res_filter" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-filter" aria-hidden="true"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="res_filter">
    <p>hi</p>
  </div>
  </div>
</nav>
{% endblock %}

{% block script %}
{% endblock %}
