{% extends "food/base.html" %}
{% load static %}

{% block title %}
FoodBox | Home
{% endblock %}

{% block body %}
<h3 class="my-3" id="f1">Restaurants</h3>
{% if ownedRestaurant %}
  <div class="alert alert-warning" role="alert">
    ADMIN: <a class="alert-link" href="{% url 'restaurantOrders' ownedRestaurant.id %}">Look at your restaurant's orders!</a>
  </div>
{% endif %}

<div class="row">
  <div class="d-none d-lg-block col-2">
    <div class="card" id="filter">
      <div class="card-body">
        <h5 class="card-title font-weight-bold" id="logo">Filters</h5>
        <p class="card-text font-weight-bold" id="f1">Cuisines</p>
        <div class="mt-n3" id="f1">
          <!--<small><p class="my-0"><a href="/cuisine/{{ cui.name }}">{{ cui.name|title }}</a></p></small>-->
          <div id="filters">
          {% for cui in cuisine %}
            <div class="my-n1 d-flex justify-content-between">
              <label class="my-auto" for="filter-{{ cui.name }}">{{ cui.name }}</label><input id="filter-{{ cui.name }}" class="my-auto" type="checkbox" value="{{ cui.name }}"/>
            </div>
          {% endfor %}
          </div>
        </div>
        <!--
        <p class="card-text font-weight-bold mt-3" id="f1">Location</p>
        <div class="mt-n2" id="f1">
          <small><p class="my-0">The Mall Road</p></small>
          <small><p class="my-0">Landour</p></small>
          <small><p class="my-0">Kempty Fall Road</p></small>
        </div>
        <p class="card-text font-weight-bold mt-3" id="f1">Price Range</p>
        <div class="mt-n2" id="f1">
          <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
        </div>
        -->
      </div>
    </div>

  </div>
  <div class="col-12 col-lg-10 px-3 result">
    {% for res in restaurants %}
    <div class="restaurants card flex-row flex-wrap flex-md-nowrap mb-4 animate__animated animate__fadeIn {% for cui in res.cuisine.all %}{{ cui.name }} {% endfor %}">
        <div class="card-header border-0 p-0">
            <img class="imageSize" src="{% with 'food/img/'|add:res.name|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}" alt="{{ res.name }}">
        </div>
        <div class="card-body p-4 p-md-5">
            <h4 class="card-title font-weight-bold mb-0" id="logo">{{ res.name }}</h4>
            <!-- Restaurant Open Time -->
            {% if res.openTime %}
              <p class="card-text mb-0">
                {% if res.openTime <= currentTime.time and res.closeTime >= currentTime.time %}
                  <span class="text-success">Open</span>
                {% else %}
                  <span class="text-danger">Closed</span>
                {% endif %}
                {{ res.openTime }} - {{ res.closeTime }}
              </p>
            {% endif %}
            <p class="card-subtitle mt-1" id="f1">{% for cui in res.cuisine.all %}{{ cui.name }} {% endfor %}</p>
            <p class="card-text">{{ res.description }}</p>
            <a href="{% url 'restaurant' res.id %}" class="btn btn-outline-success">Order Now</a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
<!--<nav class="d-block d-lg-none navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" id="logo">Filter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#res_filter" aria-controls="res_filter" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-filter" aria-hidden="true"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="res_filter">
    <div id="mob_filters">
    {% for cui in cuisine %}
      <div class="my-n1 d-flex justify-content-between checkbox">
        <label class="my-auto" for="filter-{{ cui.name }}">{{ cui.name }}</label><input id="filter-{{ cui.name }}" class="my-auto" type="checkbox" value="{{ cui.name }}"/>
      </div>
    {% endfor %}
    </div>
  </div>
  </div>
</nav>-->
<nav class="d-lg-none navbar-dark bg-dark fixed-bottom collapse pb-5" id="cart">
  <div class="container">
    <a class="navbar-brand font-weight-bold mt-3 mb-2" href="{% url 'index' %}" id="f1">Filter</a>
    <div class="mb-5">
      {% for cui in cuisine %}
          <label for="filter-{{ cui.name }}" class="btn{{ cui.name }} btn btn-sm btn-outline-light my-1 mr-1 filter-Indian" style="border-radius:50px;">{{ cui.name }}</label>
      {% endfor %}
    </div>
  </div>
</nav>
<button class="d-block d-lg-none btn btn-primary" type="button" data-toggle="collapse" data-target="#cart" aria-expanded="false" aria-controls="cart" id="cartToggle"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>
<script>
  $("#filters :checkbox").click(function() {
      $(".restaurants").hide();
      $("#filters :checkbox:checked").each(function() {
         $("." + $(this).val()).show();
      });
      if($('input[type="checkbox"]:checked').length == 0) {
        $(".restaurants").show();
      }
      if($(this).is(":checked")) {
        $(".btn" + $(this).val()).addClass("btnChecked");
      } else {
        $(".btn" + $(this).val()).removeClass("btnChecked");
      }
  });
</script>
{% endblock %}
