{% extends "food/base.html" %}
{% load static %}
{% load food_extra %}

{% block title %}
OrderIn | Orders
{% endblock %}

{% block body %}
<h3 class="my-3" id="f1">My Orders</h3>
{% if  not phoneNumber %}
  <div class="alert alert-warning" role="alert">
    <a class="alert-link" href="{% url 'phoneNumber' %}">Confirm your phone number to order!</a>
  </div>
{% endif %}

{% if deliveringOrders %}
  <h2 class="text-info" id="logo">Delivering Orders ({{ deliveringOrders.count }})</h2>
  <div class="row my-3 d-flex flex-nowrap" style="overflow-x: auto; scroll-snap-type: x mandatory;">
    {% for order in deliveringOrders %}
      <div class="col-12 col-lg-4" style="scroll-snap-align: start;">
        <div class="card shadow mb-4 border-info">
          <div class="card-body py-4 px-4" id="order-div">
            <div class="d-flex justify-content-between">
              <h5 class="card-text font-weight-bold f2">{{ order.restaurant.name }} Order</h5>
              <h5 class="font-weight-light">#{{ order.id }}</h5>
            </div>
            <p><small>Delivering to <a href="https://maps.google.com/?q={{ order.address }}" class="text-success" target="_blank">{{ order.address }}</a></small></p>
            <hr class="orderList">
            <table class="table table-borderless f2 mt-n3">
              <thead>
                 <tr class="font-weight-bold">
                   <th scope="col"><small>PRODUCT</small></th>
                   <th scope="col"><small>QTY</small></th>
                   <th scope="col"><small>PRICE</small></th>
                 </tr>
               </thead>
              <tbody id="order-list">
                  {% for item in order.items.all %}
                    <tr id="order-item-{{ item.id }}">
                      <td class="font-weight-bold">{{ item.menuItem.name }}</td>
                      <td class="text-right item-count">{{ item.count }}</td>
                      <td class="text-right item-price">{{ item.menuItem.price|multiply:item.count }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                <tr class="font-weight-bold">
                    <td>Total</td>
                    <td></td>
                    <td class="text-right text-danger"><h5 class=" font-weight-bold" id="f1"><span id="total-price">&#8377;{{ order.totalPrice }}</span></h5></td>
                </tr>
              </tfoot>
            </table>
            <hr class="orderList mt-n2">
            <a href="{% url 'restaurant' order.restaurant.id %}" class="card-link">Restaurant page</a>
            <a href="#" class="card-link">Cancel</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if pendingOrders %}
  <h2 class="text-success" id="logo">Pending Orders ({{ pendingOrders.count }})</h2>
  <div >
    <div class="row my-3 d-flex flex-nowrap" style="overflow-x: auto; scroll-snap-type: x mandatory;">
      {% for order in pendingOrders %}
        <div class="col-12 col-lg-4" style="scroll-snap-align: start;">
          <div class="card shadow mb-4 border-success">
            <div class="card-body py-4 px-4" id="order-div">
              <div class="d-flex justify-content-between">
                <h5 class="card-text font-weight-bold f2">{{ order.restaurant.name }} Order</h5>
                <h5 class="font-weight-light">#{{ order.id }}</h5>
              </div>
              <p><small>Delivering to <a href="https://maps.google.com/?q={{ order.address }}" class="text-success" target="_blank">{{ order.address }}</a></small></p>
              <p><small>Ordered at {{ order.orderedTime }}</small></p>
              <hr class="orderList">
              <table class="table table-borderless f2 mt-n3">
                <thead>
                   <tr class="font-weight-bold">
                     <th scope="col"><small>PRODUCT</small></th>
                     <th scope="col"><small>QTY</small></th>
                     <th scope="col"><small>PRICE</small></th>
                   </tr>
                 </thead>
                <tbody id="order-list">
                    {% for item in order.items.all %}
                      <tr id="order-item-{{ item.id }}">
                        <td class="font-weight-bold">{{ item.menuItem.name }}</td>
                        <td class="text-right item-count">{{ item.count }}</td>
                        <td class="text-right item-price">{{ item.menuItem.price|multiply:item.count }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                  <tr class="font-weight-bold">
                      <td>Total</td>
                      <td></td>
                      <td class="text-right text-danger"><h5 class=" font-weight-bold" id="f1"><span id="total-price">&#8377;{{ order.totalPrice }}</span></h5></td>
                  </tr>
                </tfoot>
              </table>
              <hr class="orderList mt-n2">
              <a href="{% url 'restaurant' order.restaurant.id %}" class="card-link">Restaurant page</a>
              <a href="#" class="card-link">Cancel</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if choosingOrders %}
  <h2 class="text-warning" id="logo">Go back to your current orders ({{ choosingOrders.count }})</h2>
  <div class="row my-3 d-flex flex-nowrap" style="overflow-x: auto; scroll-snap-type: x mandatory;">
    {% for order in choosingOrders %}
      <div class="col-12 col-lg-4" style="scroll-snap-align: start;">
        <div class="card shadow mb-4 border-warning">
          <div class="card-body py-4 px-4" id="order-div">
            <div class="d-flex justify-content-between">
              <h5 class="card-text font-weight-bold f2">{{ order.restaurant.name }} Order</h5>
              <h5 class="font-weight-light">#{{ order.id }}</h5>
            </div>
            <hr class="orderList">
            <table class="table table-borderless f2 mt-n3">
              <thead>
                 <tr class="font-weight-bold">
                   <th scope="col"><small>PRODUCT</small></th>
                   <th scope="col"><small>QTY</small></th>
                   <th scope="col"><small>PRICE</small></th>
                 </tr>
               </thead>
              <tbody id="order-list">
                  {% for item in order.items.all %}
                    <tr id="order-item-{{ item.id }}">
                      <td class="font-weight-bold">{{ item.menuItem.name }}</td>
                      <td class="text-right item-count">{{ item.count }}</td>
                      <td class="text-right item-price">{{ item.menuItem.price|multiply:item.count }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                <tr class="font-weight-bold">
                    <td>Total</td>
                    <td></td>
                    <td class="text-right text-danger"><h5 class=" font-weight-bold" id="f1"><span id="total-price">&#8377;{{ order.totalPrice }}</span></h5></td>
                </tr>
              </tfoot>
            </table>
            <hr class="orderList mt-n2">
            <a href="{% url 'restaurant' order.restaurant.id %}" class="card-link">Continue ordering</a>
            <a href="#" class="card-link">Cancel</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if deliveredOrders %}
  <h2 class="text-secondary" id="logo">Finished Orders</h2>
  <div class="row my-3 d-flex flex-nowrap" style="overflow-x: auto; scroll-snap-type: x mandatory;">
    {% for order in deliveredOrders %}
      <div class="col-12 col-lg-4" style="scroll-snap-align: start;">
        <div class="card shadow mb-4 border-secondary">
          <div class="card-body py-4 px-4" id="order-div">
            <div class="d-flex justify-content-between">
              <h5 class="card-text font-weight-bold f2">{{ order.restaurant.name }} Order</h5>
              <h5 class="font-weight-light">#{{ order.id }}</h5>
            </div>
            <p><small>Delivering to <a href="https://maps.google.com/?q={{ order.address }}" class="text-success" target="_blank">{{ order.address }}</a></small></p>
            <hr class="orderList">
            <table class="table table-borderless f2 mt-n3">
              <thead>
                 <tr class="font-weight-bold">
                   <th scope="col"><small>PRODUCT</small></th>
                   <th scope="col"><small>QTY</small></th>
                   <th scope="col"><small>PRICE</small></th>
                 </tr>
               </thead>
              <tbody id="order-list">
                  {% for item in order.items.all %}
                    <tr id="order-item-{{ item.id }}">
                      <td class="font-weight-bold">{{ item.menuItem.name }}</td>
                      <td class="text-right item-count">{{ item.count }}</td>
                      <td class="text-right item-price">{{ item.menuItem.price|multiply:item.count }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                <tr class="font-weight-bold">
                    <td>Total</td>
                    <td></td>
                    <td class="text-right text-danger"><h5 class=" font-weight-bold" id="f1"><span id="total-price">&#8377;{{ order.totalPrice }}</span></h5></td>
                </tr>
              </tfoot>
            </table>
            <hr class="orderList mt-n2">
            <a href="{% url 'restaurant' order.restaurant.id %}" class="card-link">Restaurant page</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}


  <!--
  <h3 class="my-3" id="f1">Your orders</h3>
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card border-0 account-card card-active my-2" onclick="window.location.href = '#'">
        <div class="card-body py-2">
          <i class="fas fa-user-circle"></i> My details
        </div>
      </div>
      <div class="card border-0 my-2 account-card" onclick="window.location.href = '#'">
        <div class="card-body py-2">
          <i class="fas fa-signature"></i> Signed petitions
        </div>
      </div>
      <div class="card border-0 my-2 account-card" onclick="window.location.href = '#'">
        <div class="card-body py-2">
          <i class="fas fa-file-contract"></i> My petitions
        </div>
      </div>
    </div>
  </div>
  -->

  <!--<nav class="d-block d-lg-none navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" id="logo">Filter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#res_filter" aria-controls="res_filter" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-filter" aria-hidden="true"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="res_filter">
      <div id="mob_filters">
      {% for cui in cuisine %}
        <div class="my-n1 d-flex justify-content-between checkbox">
          <label class="my-auto" for="filter-{{ cui.name }}">{{ cui.name }}</label><input id="filter-{{ cui.name }}" class="my-auto" type="checkbox" value="{{ cui.name }}"/>
        </div>
      {% endfor %}
      </div>
    </div>
    </div>
  </nav>-->

{% endblock %}
