{% extends "food/base.html" %}
{% load static %}

{% block title %}
OrderIn | Phone Number Verification
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'food/phoneNumber.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row" style="margin-top: 20px;">
  <div class="col-12 col-lg-5 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h5>Verify your phone number</h5>
        <hr>
        <p class="changeableText">An OTP will be sent to your <b>WhatsApp</b> number.</p>
        <form id="submitPhone">
          {% csrf_token %}
          <input type="hidden" name="pageNumber" value="{{ url }}">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">+91</span>
            </div>
            <input class="form-control" type="tel" name="phoneNumber" placeholder="Type your phone number" value="{% if user.profile.phoneNumber %}{{ user.profile.phoneNumber }}{% endif %}">
          </div>
          <button type="submit" name="button" class="btn btn-success btn-block mt-3">SEND</button>
        </form>
        <form style="display: none;" id="otpForm" action="{% url 'phoneNumber' %}" method="post">
          <p>Type out the six digit number to verify your phone number.</p>
          {% csrf_token %}
          <input type="hidden" name="pageNumber" value="{{ url }}">
          <input type="hidden" name="phoneNumber">
          <input class="form-control" type="text" name="otp" placeholder="OTP Number">
          <button type="submit" name="button" class="btn btn-success btn-block mt-3">SEND</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
