{% extends "food/base.html" %}
{% load static %}

{% block title %}
FoodBox | {{ restaurant.name }}
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb"><small>
  <ol class="breadcrumb my-0 bg-light">
    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-success">Home</a></li>
    <li class="breadcrumb-item">Restaurant</li>
    <li class="breadcrumb-item active">{{ restaurant.name }}</li>
  </ol></small>
</nav>
<div class="row animate__animated animate__fadeIn h-100">
  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title" id="logo">{{ restaurant.name }}</h2>
        <h6 class="card-subtitle mb-2 text-muted" id="f1">{{ restaurant.description }}</h6>
        <h6 class="card-subtitle">Phone: {{ restaurant.phone_number }}</h6>
        <hr>
        <ul>
          {% for category in categories %}
            <!-- Deal with this stupid syntax -->
            <li><a href="#{{ category.category }}">{{ category.category }}</a></li>
          {% endfor %}
        </ul>
        <hr>

        {% regroup menuItems by category as itemList %}

        {% for category, items in itemList %}
          <h5 id="{{ category }}">{{ category|title }}</h5>
          <ul>
            {% for menu in items %}
              <li>{{ menu.name }} - &#8377; {{ menu.price }}</li>
            {% endfor %}
          </ul>
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="d-none d-lg-block col-12 col-lg-4">
    <div class="card">
      <div class="card-header bg-white">
        <h5 class="card-text font-weight-bold" id="logo">Your Order</h5>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
<nav class="d-block d-lg-none navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="container text-white">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" id="logo">Your Order</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cart" aria-controls="cart" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="cart">
    <p class="my-auto">Food x1</p>
    <p class="my-auto">Drink x5</p>
    <p class="my-auto">Side Dish x2</p>
  </div>
  </div>
</nav>
{% endblock %}
