{% extends "food/base.html" %}
{% load static %}

{% block title %}
FoodBox | {{ restaurant.name }}
{% endblock %}
{% load food_extra %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'food/restaurant.js' %}"></script>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb"><small>
  <ol class="breadcrumb my-0 bg-light">
    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-success">Home</a></li>
    <li class="breadcrumb-item">Restaurant</li>
    <li class="breadcrumb-item active">{{ restaurant.name }}</li>
  </ol></small>
</nav>
<div class="row animate__animated animate__fadeIn">
  <div class="col-12 col-lg-8 px-0 px-lg-3 mb-4">
    <div class="card">
      <div class="card-body px-0 pb-0">
        <h1 class="card-title text-center mb-1" id="logo">{{ restaurant.name }}</h1>
        <div class="text-center mt-0 mb-2">
          <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> 5.0
        </div>
        <div class="text-center mb-2">
          <!-- Open Time -->
          {% if restaurant.openTime %}
            {% if restaurant.openTime <= currentTime.time and restaurant.closeTime >= currentTime.time %}
              <span class="text-success">Open</span>
            {% else %}
              <span class="text-danger">Open</span>
            {% endif %}
            {{ restaurant.openTime }} - {{ restaurant.closeTime }}
             |
          {% endif %}
          <i class="fa fa-mobile" aria-hidden="true"></i> {{ restaurant.phoneNumber }}
        </div>
        <div class="text-center mb-3">
          {% for category in categories %}<a href="#{{ category.name }}" class="btn btn-sm btn-outline-secondary my-1 mr-1" style="border-radius:50px;">{{ category.name }}</a>{% endfor %}
        </div>
        {% for category in categories %}
          <button class="btn btn-light btn-md btn-block d-flex justify-content-between px-3" type="button" data-toggle="collapse" data-target="#{{ category.name|cut:' ' }}" aria-expanded="false" aria-controls="{{ category.name|cut:' ' }}">
            <p class="my-auto" id="f1">{{ category.name }}</p><i class="fa fa-chevron-down my-auto" aria-hidden="true"></i>
          </button>
          <span class="anchor" id="{{ category.name }}"></span>
          <div class="collapse show" id="{{ category.name|cut:' ' }}">
            <div class="card card-body p-0">

              <!-- Padding to highlight the menu -->
              {% for menu in category.menu.all %}
                <div class="border-bottom px-3 py-3">
                  <div class="row">
                    <div class="col-10">
                      <p class="font-weight-bold my-auto" id="f1">{{ menu.name }}</p><p class="my-auto">&#8377; {{ menu.price }}</p>
                    </div>
                    <div class="col-2">
                      <nav aria-label="order count">
                        <ul class="order-item-div pagination justify-content-end mt-1 mb-0">
                          <!-- Look into templatetags for more description -->
                          {{ currentOrder.items.all|matchingID:menu.id }}
                          <!-- FUNCTIONS:
                            - Remove Button
                            - Count -->

                          <!-- FOR REFERENCE:
                            <li class="page-item">
                              <button class="remove-order-button page-link font-weight-bold text-dark" data-id="{result['id']}">-</button>
                            </li>
                            <li class="page-item disabled"><a class="page-link order-item-count" href="#">{result['count']}</a></li>
                          -->

                          <li class="page-item">
                            <button class="add-order-button page-link font-weight-bold text-dark" data-id="{{ menu.id }}" data-restaurantid="{{ restaurant.id }}">+</button>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 d-none d-lg-block">
    <div class="card mb-3">
      <img class="card-img-top" src="{% with 'food/img/'|add:restaurant.name|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}" alt="{{ restaurant.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-subtitle mb-2">{{ restaurant.description }}</p>
        <!-- Open Time -->
        <p class="my-n1">
        {% if restaurant.openTime %}
          {% if restaurant.openTime <= currentTime.time and restaurant.closeTime >= currentTime.time %}
            <span class="text-success">Open</span>
          {% else %}
            <span class="text-danger">Open</span>
          {% endif %}
          {{ restaurant.openTime }} - {{ restaurant.closeTime }}
        {% endif %}
        </p>
        <!--{% for cui in restaurant.cuisine.all %}<a href="{% url 'cuisine' cui.name %}" class="btn btn-sm btn-outline-secondary my-1 mr-1" style="border-radius:50px;">{{ cui.name }}</a>{% endfor %}-->
      </div>
    </div>
    <div class="card" id="filter">
      <div class="card-body" id="order-div">
        {% if loggedIn %}
          <h5 class="card-text font-weight-bold" id="logo">Your Order</h5>
        {% else %}
          <h5 class="card-text font-weight-bold">Why ain't you logged in you faggot</h5>
        {% endif %}

        <!-- Order list -->
        <table class="table">
          <tbody id="order-list">
              {% for item in currentOrder.items.all %}
                <tr id="order-item-{{ item.id }}">
                  <td>{{ item.menuItem.name }}</td>
                  <td>&#8377; {{ item.menuItem.price }} x<span class="item-count text-success">{{ item.count }}</span></td>
                </tr>
              {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              {% if currentOrder %}
                <td>Total</td>
                <td><span class="text-danger">&#8377; <span id="total-price">{{ currentOrder.totalPrice }}</span></span></td>
              {% else %}
                <td>Total</td>
                <td><span class="text-danger">&#8377; <span id="total-price">0</span></span></td>
              {% endif %}
            </tr>
          </tfoot>
        </table>

        <form action="{% url 'restaurant' restaurant.id %}" method="post">
          {% csrf_token %}
          <input id="order-id" type="hidden" name="orderId" value="{{ currentOrder.id }}">
          {% if currentOrder.totalPrice > 0 %}
            <button id="order-button" class="form-control btn-danger" type="submit" name="button">Order</button>
          {% else %}
            <button id="order-button" class="form-control btn-danger" type="submit" name="button" style="display: none;">Order</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
<!--<nav class="d-block d-lg-none navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="container text-white">
  <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" id="logo">Your Order</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cart" aria-controls="cart" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="cart">
    <p class="my-auto">Food x1</p>
    <p class="my-auto">Drink x5</p>
    <p class="my-auto">Side Dish x2</p>
  </div>
  </div>
</nav>-->

<nav class="d-lg-none navbar navbar-dark bg-dark fixed-bottom collapse" id="cart">
  <div class="container text-white">
    <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" id="logo">Your Order</a>
  </div>
</nav>
<button class="d-block d-lg-none btn btn-primary" type="button" data-toggle="collapse" data-target="#cart" aria-expanded="false" aria-controls="cart" id="cartToggle"><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i></button>
{% endblock %}
