@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
#logo {
  font-family: 'Roboto Condensed', sans-serif;
}
#navback {
  background-color: #5EB668 !important;
}
#f1 {
  font-family: 'Nanum Gothic', sans-serif;
}
.f2 {
  font-family: 'Raleway', sans-serif;
}
#cuisines {
  filter: brightness(60%);
}
#cuisines:hover {
  background-color: black !important:
}
#filter {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
#cartToggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background-color: #5EB668;
  border-radius: 50%;
  z-index:2;
  border: none;
}
#cart {
  z-index:1;
}
.button-disabled {
  background-color: #F8F9FA;
}
.btnChecked {
  background-color: #5EB668;
  border-color: #5EB668;
}
.cui_card:hover {
  cursor: pointer;
}
.anchor {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}
.anchorList {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
.orderList {
  border-top: 1px dashed grey;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(52,58,64,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
}
.sidebar h5 {
  color: white;
}
.sidebar label {
  transition: 0.3s;
  white-space: nowrap;
}
.resSidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
  white-space: nowrap;
}


[class*="imageSize"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .imageSize {
    object-fit: cover;
    object-position: 0 0;
    height:250px;
    width: 250px;
  }
}
